DATABASE_URL
.env
app.log
app.log.*
app.log.1
app.log.2
app.log.3
app.log.4
app.log.5
*.pyc
.DS_Store
__pycache__/
lib/
*.mo
*.po
app.log*
*.pyc
.DS_Store
__pycache__/
.ipynb_checkpoints/
.ipynb*
*.ipynb