.container {
  padding-top: 80px;
}

h1 {
  font-size: 32px;
  font-family: courier;
  margin-top: 50px;
  margin-bottom: 30px;
}

.max-image-size {
  max-width: 300px;
  max-height: 300px;
}
.search-header {
    font-size: 32px;
    font-family: courier;
}

.scientific-name {
  font-size: 18px;
  font-style: italic;
}

.no-image-message {
  font-size: 18px;
  font-style: italic;
}

@media screen and (max-width: 767px) {
  #search-box {
    position: absolute;
    top: 50px;
    right: 0;
    z-index: 9999;
    background-color: #fff;
    padding: 10px;
  }

  #search-box form {
    display: flex;
  }

  #search-box input[type="text"] {
    flex: 1;
    border: none;
    outline: none;
  }

  #search-box button {
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
  }
}
