{% extends 'base.html' %}

{% block title %}Add a Plant{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/add_plant.css') }}">
{% endblock %}

{% block content %}
    <div class="search-container">
        <form action="{{ url_for('search_results') }}" method="post">
            {{ csrf_field() }}
            <input type="text" id="name" name="name" placeholder="enter plant name...">
            <button type="submit">Search</button>
        </form>
    </div>
{% endblock %}
