{% extends 'base.html' %}

{% block title %}Add a Plant{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/add_plant.css') }}">
{% endblock %}

{% block content %}
    <div class="search-container">
        <form action="{{ url_for('search_plant') }}" method="POST">
            {{ form.hidden_tag() }}
            <div class="mb-3">
                <label for="query" class="form-label">Search by common or scientific name:</label>
                {{ form.query.label }} {{ form.query(class="form-control", id="query") }}
            </div>
            {{ form.submit(class="btn btn-primary") }}
        </form>
    </div>
{% endblock %}
