{% extends 'base.html' %}

{% block content %}
    <div class="typewriter-wrapper title-container">
        <h1 class="typing">edit a plant's details</h1>
    </div>
    <!-- [x]: Update the edit form to match the new plant class -->
    <!-- TODO: dynamic form entries based on existing data -->
    <form action="{{ url_for('edit_plant', plant_id=plant.id) }}" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class="form-group">
            <label for="common_name">Common Name</label>
            <input type="text" class="form-control" name="common_name" id="common_name" value="{{ plant.common_name }}"
                   required>
        </div>
        <div class="form-group">
            <label for="scientific_name">Scientific Name</label>
            <input type="text" class="form-control" name="scientific_name" id="scientific_name"
                   value="{{ plant.scientific_name }}" required>
        </div>
        <div class="form-group">
            <label for="sunlight">Light</label>
            <input type="text" class="form-control" name="sunlight" id="sunlight"
                   value="{{ plant.sunlight }}" required>
        </div>
        <div class="form-group">
            <label for="watering">Water</label>
            <input type="text" class="form-control" name="watering" id="watering"
                   value="{{ plant.watering }}" required>
        </div>
        <div class="form-group">
            <label for="origin">Origin</label>
            <input type="text" class="form-control" name="origin" id="origin"
                   value="{{ plant.origin }}" required>
        </div>
        <div class="form-group">
            <label for="soil">Soil</label>
            <input type="text" class="form-control" name="soil" id="soil"
                   value="{{ plant.soil }}" required>
        </div>
        <div class="form-group">
            <label for="growth_rate">Growth Rate</label>
            <input type="text" class="form-control" name="growth_rate" id="growth_rate"
                   value="{{ plant.growth_rate }}" required>
        </div>
        <div class="form-group">
            <label for="propagation">Propagation</label>
            <input type="text" class="form-control" name="propagation" id="propagation"
                   value="{{ plant.propagation }}" required>
        </div>
        <div class="form-group">
            <label for="pest_susceptibility">Pests</label>
            <input type="text" class="form-control" name="pest_susceptibility" id="pest_susceptibility"
                   value="{{ plant.pest_susceptibility }}" required>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <input type="text" class="form-control" name="description" id="description"
                   value="{{ plant.description }}" required>
        </div>
        <div class="form-group">
            <label for="type">Type</label>
            <input type="text" class="form-control" name="type" id="type"
                   value="{{ plant.type }}" required>
        </div>
        <div class="form-group">
            <label for="cycle">Cycle</label>
            <input type="text" class="form-control" name="cycle" id="cycle"
                   value="{{ plant.cycle }}" required>
        </div>
        <div class="form-group">
            <label for="drought_tolerant">Drought</label>
            <input type="text" class="form-control" name="drought_tolerant" id="drought_tolerant"
                   value="{{ plant.drought_tolerant }}" required>
        </div>
        <div class="form-group">
            <label for="attracts">Attracts</label>
            <input type="text" class="form-control" name="attracts" id="attracts"
                   value="{{ plant.attracts }}" required>
        </div>
        <div class="form-group">
            <label for="tropical">Tropical</label>
            <input type="text" class="form-control" name="tropical" id="tropical"
                   value="{{ plant.tropical }}" required>
        </div>
        <div class="form-group">
            <label for="edible_fruit">Edible</label>
            <input type="text" class="form-control" name="edible_fruit" id="edible_fruit"
                   value="{{ plant.edible_fruit }}" required>
        </div>
        <div class="form-group">
            <label for="medicinal">Medicinal</label>
            <input type="text" class="form-control" name="medicinal" id="medicinal"
                   value="{{ plant.medicinal }}" required>
        </div>
        <div class="form-group">
            <label for="poisonous_to_humans">Poisonous (Human)</label>
            <input type="text" class="form-control" name="poisonous_to_humans" id="poisonous_to_humans"
                   value="{{ plant.poisonous_to_humans }}" required>
        </div>
        <div class="form-group">
            <label for="poisonous_to_pets">Poisonous (Animal)</label>
            <input type="text" class="form-control" name="poisonous_to_pets" id="poisonous_to_pets"
                   value="{{ plant.poisonous_to_pets }}" required>
        </div>
        <div class="form-group">
            <label for="rare">Rare</label>
            <input type="text" class="form-control" name="rare" id="rare"
                   value="{{ plant.rare }}" required>
        </div>
        <button type="submit" class="btn btn-primary">Save Changes</button>
    </form>
{% endblock %}
