{% extends 'base.html' %}

{% block content %}
    <h1>plants...</h1>
    <div class="table-container">
        <div class="table-wrapper table-responsive">
            <table class="table-full-width">
                <thead>
                <tr>
                    <th>Common Name</th>
                    <th>Scientific Name</th>
                    <th>Sunlight Care</th>
                    <th>Water Care</th>
                    <th>Temperature Care</th>
                    <th>Humidity Care</th>
                    <th>Growing Tips</th>
                    <th>Propagation Tips</th>
                    <th>Common Pests</th>
                </tr>
                </thead>
                <tbody>
                {% for plant in plants %}
                    <tr>
                        <td>{{ plant.common_name if plant.common_name else "No data" }}</td>
                        <td>{{ plant.scientific_name if plant.scientific_name else "No data" }}</td>
                        <td>{{ plant.sunlight_care if plant.sunlight_care else "No data" }}</td>
                        <td>{{ plant.water_care if plant.water_care else "No data" }}</td>
                        <td>{{ plant.temperature_care if plant.temperature_care else "No data" }}</td>
                        <td>{{ plant.humidity_care if plant.humidity_care else "No data" }}</td>
                        <td>{{ plant.growing_tips if plant.growing_tips else "No data" }}</td>
                        <td>{{ plant.propagation_tips if plant.propagation_tips else "No data" }}</td>
                        <td>{{ plant.common_pests if plant.common_pests else "No data" }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
