{% extends 'base.html' %}

{% block container_classes %}
    container-fluid
{% endblock %}

{% block container_styles %}
    style="padding: 33;"
{% endblock %}

{% block content %}
    <div class="table-title-container">
        <h1 class="page-title">plants in the database...</h1>
    </div>
    <div class="no-padding-container table-container">
        <div class="table-wrapper table-responsive">
            <table class="table-full-width">
                <colgroup>
                    <col style="width: 10%;">
                    <col style="width: 10%;">
                    <col style="width: 10%;">
                    <col style="width: 10%;">
                    <col style="width: 10%;">
                    <col style="width: 10%;">
                    <col style="width: 15%;">
                    <col style="width: 15%;">
                    <col style="width: 10%;">
                </colgroup>
                <thead>
                <tr>
                    <th>Common Name</th>
                    <th>Scientific Name</th>
                    <th>Light</th>
                    <th>Water</th>
                    <th>Temp.</th>
                    <th>Humidity</th>
                    <th>Growing</th>
                    <th>Propagation Tips</th>
                    <th>Common Pests</th>
                    <th scope="col">actions</th>
                </tr>
                </thead>
                <tbody>
                {% for plant in plants %}
                    <tr>
                        <td>{{ plant.common_name if plant.common_name else "No data" }}</td>
                        <td>{{ plant.scientific_name if plant.scientific_name else "No data" }}</td>
                        <td>{{ plant.sunlight_care if plant.sunlight_care else "No data" }}</td>
                        <td>{{ plant.water_care if plant.water_care else "No data" }}</td>
                        <td>{{ plant.temperature_care if plant.temperature_care else "No data" }}</td>
                        <td>{{ plant.humidity_care if plant.humidity_care else "No data" }}</td>
                        <td>{{ plant.growing_tips if plant.growing_tips else "No data" }}</td>
                        <td>{{ plant.propagation_tips if plant.propagation_tips else "No data" }}</td>
                        <td>{{ plant.common_pests if plant.common_pests else "No data" }}</td>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-secondary btn-sm dropdown-toggle" type="button"
                                        id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                    Actions
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <form action="{{ url_for('edit_plant', plant_id=plant.id) }}" method="get">
                                        <button type="submit" class="dropdown-item">Edit</button>
                                    </form>
                                    <form action="{{ url_for('delete_plant', plant_id=plant.id) }}" method="post">
                                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                        <button type="submit" class="dropdown-item btn-delete">Delete</button>
                                    </form>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

