{% extends 'base.html' %}

{% block title %}Manual Plant Entry{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block content %}
    <div class="manual-entry-container">
        <div class="typewriter-wrapper">
            <h2 class="manual-entry-title typing">manually enter a plant...</h2>
        </div>
        <form action="{{ url_for('add_to_database') }}" method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <div class="form-row">
                <div class="form-column">
                    <div>
                        <label for="common_name">Common Name:</label>
                        <input type="text" class="form-control" name="common_name"
                               placeholder="enter common name..." required>
                    </div>
                    <div>
                        <label for="water_care">Water Care:</label>
                        <input type="text" class="form-control" name="water_care"
                               placeholder="enter water care..." required>
                    </div>
                    <div>
                        <label for="sunlight_care">Sunlight Care:</label>
                        <input type="text" class="form-control" name="sunlight_care"
                               placeholder="enter sunlight care..." required>
                    </div>
                </div>
                <div class="form-column">
                    <div>
                        <label for="scientific_name">Scientific Name:</label>
                        <input type="text" class="form-control" name="scientific_name"
                               placeholder="enter scientific name..." required>
                    </div>
                    <div>
                        <label for="humidity_care">Humidity Care:</label>
                        <input type="text" class="form-control" name="humidity_care"
                               placeholder="enter humidity care..." required>
                    </div>
                    <div>
                        <label for="temperature_care">Temperature Care:</label>
                        <input type="text" class="form-control" name="temperature_care"
                               placeholder="enter temperature care..." required>
                    </div>
                </div>
            </div>
            <div class="form-row-full">
                <div>
                    <label for="growing_tips">Growing Tips:</label>
                    <textarea class="form-control" name="growing_tips"
                              placeholder="enter growing tips..."
                              required></textarea>
                </div>
            </div>
            <div class="form-row-full">
                <div>
                    <label for="propagation_tips">Propagation Tips:</label>
                    <textarea class="form-control" name="propagation_tips"
                              placeholder="enter propagation tips..." required></textarea>
                </div>
            </div>
            <div class="form-row-full">
                <div>
                    <label for="common_pests">Common Pests:</label>
                    <textarea class="form-control" name="common_pests"
                              placeholder="enter common pests..."
                              required></textarea>
                </div>
            </div>
            <input type="submit" value="add details to database">
        </form>
    </div>
{% endblock %}
