{% extends 'base.html' %}

{% block content %}
    <div class="typewriter-wrapper title-container">
        <h1 class="mt-5 mb-4 typing"> here is some information on {{ plants.common_name }} </h1>
    </div>
    <div class="container mt-5">
        <table class="table table-striped">
            <thead>
                <!-- [x]: update table headers to match list_plants.html and new plant class -->
            <tr>
                <th>Common Name</th>
                <th>Scientific Name</th>
                <th>Light</th>
                <th>Water</th>
                <th>Origin</th>
                <th>Soil</th>
                <th>Growth Rate</th>
                <th>Propagation</th>
                <th>Common Pests</th>
            </tr>
            </thead>
            <tbody>
            {% for plant in plants %}
                <tr>
                    <!-- [x]: update table row fields to match list_plants.html and new plant class -->
                    <td>{{ plant.description if plant.description else "No data" }}</td>
                    <td>{{ plant.type if plant.type else "No data" }}</td>
                    <td>{{ plant.cycle if plant.cycle else "No data" }}</td>
                    <td>{{ plant.drought_tolerant if plant.drought_tolerant else "No data" }}</td>
                    <td>{{ plant.invasive if plant.invasive else "No data" }}</td>
                    <td>{{ plant.attracts if plant.attracts else "No data" }}</td>
                    <td>{{ plant.tropical if plant.tropical else "No data" }}</td>
                    <td>{{ plant.edible_fruit if plant.edible_fruit else "No data" }}</td>
                    <td>{{ plant.harvest_season if plant.harvest_season else "No data" }}</td>
                    <td>{{ plant.medicinal if plant.medicinal else "No data" }}</td>
                    <td>{{ plant.poisonous_to_humans if plant.poisonous_to_humans else "No data" }}</td>
                    <td>{{ plant.poisonous_to_animals if plant.poisonous_to_animals else "No data" }}</td>
                    <td>{{ plant.rare if plant.rare else "No data" }}</td>                
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
