{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h1 class="my-5 text-center search-header">Search for Plants</h1>
                <form id="search-form" class="form-inline d-flex flex-column justify-content-center align-items-center"
                      method="POST" action="{{ url_for('search_plant') }}">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <div class="form-group">
                        <label for="search-input">Search by Name:</label>
                        <input type="text" class="form-control" id="search-input" name="query"
                               class="form-control"
                               placeholder="Type a plant's common name..." required>
                    </div>
                    <button type="submit" class="btn btn-primary mt-3">Search</button>
                </form>
                {% if not plant_info %}
                    <p>Sorry, the plant you searched for was not found in our database.</p>
                    <p>Would you like to <a href="{{ url_for('add_to_database') }}">add it to our database</a>?</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
