{% extends 'base.html' %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}

{% block content %}
    <h1 class="mt-5 mb-4">search for a plant</h1>
    <div class="container mt-5">
        <form method="GET" action="{{ url_for('search_plant') }}">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <div class="form-group">
                <input type="text" class="form-control" id="plant_name" name="query" placeholder="enter a plant name..."
                       required>
            </div>
            <button type="submit" class="btn btn-primary">search</button>
        </form>
    </div>
{% endblock %}
